language: scala
scala:
  - 2.10.7
  - 2.11.12
  - 2.12.4
  - 2.13.0-M3
script:
  - sbt "++ ${TRAVIS_SCALA_VERSION}!" test mimaReportBinaryIssues
jdk:
  - oraclejdk8
notifications:
  email:
    - johannes@spray.io
    - mathias@spray.io
